.card-list {
  display: flex;
  gap: 20px;

  .card {
    list-style: none;
    font-size: 14px;
    background-color: #f9f9f9;
    border: 1px solid #e8e5e5;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
}

.card:nth-child(-n + 3) {
  width: 150px;
}

.card__info--container {
  width: 100%;
}
.card__image {
  width: 100%;
}

.card__info {
  border-radius: 0 0 2px 2px;
  padding: 4px;
  text-align: left;
  .card__info--label {
    color: #828282;
    font-size: 10px;
    font-weight: 50;
  }
  .card__info--title {
    margin-top: 5px;
  }
  .card__info--hilight {
    color: rgb(235, 36, 36);
    margin-top: 15px;
    font-size: 10px;
    span {
      text-decoration: line-through;
      font-size: 7px;
      color: #828282;
    }
  }
}
.card__review--container {
  border-top: 1px solid #e8e5e5;
  padding: 5px;

  .card__review--rating {
    color: rgb(241, 225, 1);
  }
  .card__review--desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 8px;
    color: #828282;
    margin-top: 5px;
  }
}

.card-horizontal {
  width: 450px;
  display: flex;
  margin: 50px 0px;
  background-color: #f9f9f9;
  border: 1px solid #e8e5e5;
  border-radius: 5px;
  overflow: hidden;
}

.card-horizontal__image--container {
  a {
    width: 150px;
    height: 150px;
    display: block;
    background-color: #dd2a2a;
  }
  img {
    display: block;
    background-color: aquamarine;
  }
}

.card-horizontal__info-container {
  padding: 10px 20px;

  .card-horizontal__info {
    font-size: 14px;
    font-weight: 700;
  }
  .card-horizontal__review--desc {
    overflow: hidden;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 60px;
    line-height: 20px;
    margin: 10px 0px;
    color: #828282;
  }

  .card-horizontal__review--container {
    font-size: 14px;
    display: flex;
    gap: 5px;

    .card-horizontal__review--rating {
      color: rgb(241, 225, 1);
    }
    .card-horizontal__review--separator {
      color: #828282;
    }
    .card-horizontal__review--label {
      color: #828282;
    }
  }
}
