body {
  margin: 0px auto;
  max-width: 1056px;
  box-sizing: border-box;
}

h1 {
  padding: 20px 10px;
  line-height: 150%;
  color: #ff5100;
  font-size: 24px;
  font-weight: 700;
}

nav {
  background-color: #eadfc8;
  border-radius: 5px;

  ul {
    font-weight: 700;
    display: flex;
    line-height: 46px;
    padding: 2px 20px;
    gap: 25px;
    margin-bottom: 50px;
  }
}

h2 {
  padding: 20px 0;
  font-weight: 700;
}
